matplotlib
torch
cvzone
hydra-core
matplotlib
numpy
Pillow
PyYAML
requests
scipy
tqdm
filterpy
scikit-image
opencv-python
ultralytics
transformers
easyocr
pandas
paddleocr
paddlepaddle
streamlit 
